<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);

?>

    <div class="control-group">
        <?= $this->formLabel($form->get('firstname')); ?>
        <div class="controls">
            <?= $this->formElement($form->get('firstname')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('firstname')); ?></span>
        </div>
    </div>


    <div class="control-group">
        <?= $this->formLabel($form->get('lastname')); ?>
        <div class="controls">           
            <?= $this->formElement($form->get('lastname')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('lastname')); ?></span>
        </div>
    </div>


 <div class="control-group">
        <?= $this->formLabel($form->get('address')); ?>
        <div class="controls">           
            <?= $this->formElement($form->get('address')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('address')); ?></span>
        </div>
    </div>


    <div class="control-group">
        <?= $this->formLabel($form->get('email')); ?>
        <div class="controls">
            <?= $this->formElement($form->get('email')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('email')); ?></span>
        </div>
    </div>

<div class="control-group">
        <?= $this->formLabel($form->get('birthday')); ?>
        <div class="controls">
            <?= $this->formElement($form->get('birthday')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('birthday')); ?></span>
        </div>
    </div>

    <div class="control-group">
        <?= $this->formLabel($form->get('password')); ?>
        <div class="controls">
            <?= $this->formElement($form->get('password')); ?>
            <span class="help-block errors"><?= $this->formElementErrors($form->get('password')); ?></span>
        </div>
    </div>

    <div class="form-actions">
        <?= $this->formSubmit($form->get('submit')); ?>
    </div>
<?= $this->form()->closeTag(); ?>