


<a href="<?=$this->url('users/add')?>" class='btn btn-primary'>
    <?=$this->translate('__add_user')?>
</a>


<br/>
<br/>

<table>
    <thead>
        <tr>
            <th>
                  <a href="<?=$this->url('users/sort', array('sort_param'   =>  'id', "sort_direction"=>"ASC"))?>" class='btn btn-primary'>
    -
</a>
                <?=$this->translate('__user_id')?>
                <a href="<?=$this->url('users/sort', array('sort_param'   =>  'id', "sort_direction"=>"DESC"))?>" class='btn btn-primary'>
    +
</a>
            </th>
            <th>
                <?=$this->translate('__user_firstname')?>
            </th>
            <th>
                <?=$this->translate('__user_lastname')?>
            </th>
             <th>
                <?=$this->translate('__user_address')?>
            </th>
            <th>
                  <a href="<?=$this->url('users/sort', array('sort_param'   =>  'email', "sort_direction"=>"ASC"))?>" class='btn btn-primary'>
    -
</a>
                <?=$this->translate('__user_email')?>
                    <a href="<?=$this->url('users/sort', array('sort_param'   =>  'email', "sort_direction"=>"DESC"))?>" class='btn btn-primary'>
    +
</a>
            </th>
            <th>
                <?=$this->translate('__user_birthday')?>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <?php
    /* @var $user \Application\Entity\User */
    foreach($this->users as $user)
    {
        ?>
        <tr>
        <td>
            <?=$user['id']?>
        </td>
        <td>
            <?=$user['firstname']?>
        </td>
        <td>
            <?=$user['profile']['lastname']?>
        </td>
         <td>
            <?=$user['profile']['address']?>
        </td>
        
        <td>
            <a href='mailto:<?=$user['email']?>'>
                <?=$user['email']?>
            </a>
        </td>
          <td>
            <?= $user['profile']['birthday']?>
        </td>
        <td>
            <a href="<?=$this->url('users/edit', array('user_id'   =>  $user['id']))?>" class="btn btn-success">
                <?=$this->translate('__edit_user')?>
            </a>
           <a href="<?=$this->url('users/remove', array('user_id'   =>  $user['id']))?>" class="btn btn-danger">
            <?=$this->translate('__remove_user')?>
           </a>
        </td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>
